.row-btn {
	text-align: center;
	button {
		margin-right: 5px;
	}
}

.modal-dialog {
	margin-top: 15vh;
}

.recordForm {
	.class-right {
		float: right;
	}
}

#datepicker {
	position: absolute;
}

@media (min-width: 500px) {
	.row-btn {
		text-align: left;
	}
}