.tickUrTime {
	position: relative;
	height: 90vh;
	overflow-y:hidden;
	color: white;

	.nav-tabs {
		position: absolute;
		bottom: 0;
		width: 100%;
		border-bottom: none;

		.nav-item {
			button {
				width: 100%;
				text-align: center;
			}
		}
	}

	.rowActivity {
		.activities {
			display: flex;

			.btnActivity {
				width: 20vw;
				margin-right: 5%;
			}
		}

		.btnMore {
			width: 100%;
		}
	}

	.rowAction {
		.btn {
			width: 100%;
		}
	}
}

.padding-bottom-10 {
	padding-bottom: 10px;
}

#activityInput {
	width: 100%;
}

@media (min-width: 500px) {
	.tickUrTime {
		height: 99.5vh;
	}
}