.clock {
	overflow: hidden;
	position: relative;
	width: 350px;
	height: 350px;
	border-radius: 100%;
	border: 5px;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 10%;

	box-shadow: 0rem 0rem 2rem 0rem rgba(0, 0, 0, .1),
	10rem 10rem 10rem 10rem rgba(255, 255, 255, .5);

	font-family: 'Cute Font', 'Orbitron', sans-serif;
	font-size: 50px;



	.number {
		position: absolute;
	}
	// 1 font width 2.5% height 5% (?)
	.twelve {
		left: 45%;
		top: 0;
	}

	.three {
		left: 90%;
		top: 40%;
	}

	.six {
		left: 47.5%;
		bottom: 0;
	}

	.nine {
		left: 5%;
		top: 40%;
	}

	.hr,.min,.sec {
		position: absolute;
	}

	.sec {
		width: 3px;
		height: 100px;
		left: 50%;
		bottom: 50%;
		background: red;
		transform-origin: bottom center;
		transform: rotate(0deg);
		z-index: 1;
	}

	.min {
		width: 3px;
		height: 140px;
		left: 50%;
		bottom: 50%;
		background: black;
		transform-origin: bottom center;
		transform: rotate(0deg);
	}

	.hr {
		width: 3px;
		height: 120px;
		left: 50%;
		bottom: 50%;
		background: black;
		transform-origin: bottom center;
		transform: rotate(0deg);
		z-index: 1;
	}
}
